#score { text-align: center; }

.layer{
  width:100%;
  height:100%;
  min-height:700px;
  background-repeat: repeat-x;
  background-size: cover;
  position: absolute;
  top : 0;
  left : 0;
}
.sky{
  background:url(images/sky.png) ;
}

.middle{
  background:url(images/middle_part.png) ;
  animation: movebg 20s linear infinite;
}

.hills{
  background:url(images/background_hills.png) ;
  animation: movebg 15s linear infinite;
}
.cloud{
  background:url(images/clouds.png) ;
  animation: movebg 7s linear infinite;
}
/* arboles negros */
.fore{
  background:url(images/foreground.png) ;
  animation: movebg 5s linear infinite;
  /* top:145px; */
  /* Pequeño degradado interior para suavizar el mar. Puede consumir muchos recursos */
  /* box-shadow:10px 10px 45px RGBA(0,0,0, 0.85) inset; */
}

#sky:before{
  content:"";
  position: absolute;
  bottom: 0;
  /*width: 100%;
   height: 100px; */
  background:linear-gradient(to top,#467ca5,transparent);
  z-index: 10000;
}

#rock {
  width: 100px;
  height: 100px;
  position: relative;
  top: 1050px;
  left: 1000px;
  background-image: url(images/rock.png);
  background-size: cover;
  animation: rock 3s infinite linear;
}

#avatar {
  position : absolute;
  width:243px;
  height:253px;
  top:900px;
  left:400px;
  /* background-image: url(images/spritestrip-.png); */
  /* animation: run .9s steps(6) forwards;  */
  background-size: cover;
}

/* key frames */
@keyframes rock {
  0%{left: 110%;  transform: rotate(720deg);}
  20%{top:50%; }
  40%{top:80%; }
  60%{top:50%; }
  80%{top:80%; }
  100%{left: -10%;}
}

.jump-animation {
  /* width:256px;
  height:256px; */
  /* background-image: url(images/jump-right.png);  */
  animation: jump .4s  forwards; 
}

.run{
  animation: run .9s steps(6) infinite;
}

@keyframes movebg {
  0%{background-position:2560px}
  100% {background-position: 0px}
} 

@keyframes jump {
  0%{   top: 800px;  
        }
  50%{top: 750px;}
  75%{top: 750px;}
  100%{top: 800px;}
}

@keyframes run {
  0%{background-position: 0px;}
  100%{background-position: -1463px;}
}
