#score { text-align: center; }

#sky{
  width:2560px;
  height:1440px;
  background:url(images/sky.png) repeat-X;
}

#middle{
  width:2560px;
  height:1440px;
  background:url(images/middle_part.png) repeat-X;
  animation: movebg 20s linear infinite;
}

#hills{
  width:2560px;
  height:1440px;
  background:url(images/background_hills.png) repeat-X;
  animation: movebg 15s linear infinite;
}

#cloud{
  width:2560px;
  height:1440px;
  background:url(images/clouds.png) repeat-X;
  animation: movebg 7s linear infinite;
}
/* arboles negros */
#fore{
  width:2560px;
  height:1440px;
  background:url(images/foreground.png) repeat-x;
  animation: movebg 5s linear infinite;
  position:relative;
  /* top:145px; */
  /* Pequeño degradado interior para suavizar el mar. Puede consumir muchos recursos */
  /* box-shadow:10px 10px 45px RGBA(0,0,0, 0.85) inset; */
}

#sky:before{
  content:"";
  position: absolute;
  bottom: 0;
  /*width: 100%;
   height: 100px; */
  background:linear-gradient(to top,#467ca5,transparent);
  z-index: 10000;
}

#rock {
  width: 100px;
  height: 100px;
  position: relative;
  top: 1050px;
  left: 1000px;
  background-image: url(images/rock.png);
  background-size: cover;
  animation: rock 3s infinite linear;
}

#avatar {
  position : absolute;
  width:243px;
  height:253px;
  top:900px;
  left:400px;
  background-image: url(images/spritestrip-.png);
  animation: run .9s steps(6) infinite; 
  background-size: cover;
}

/* key frames */
@keyframes rock {
  0%{left: 2500px ;
    transform: rotate(360deg);}
  100%{left: -50px;}
}

.jump-animation {
  background-image: url(images/spritestrip-.png);
  animation: jump 0.5s;
}

@keyframes movebg {
  0%{background-position:2560px}
  100% {background-position: 0px}
} 

@keyframes jump {
  0%{top: 800px;}
  50%{top: 750px;}
  75%{top: 750px;}
  100%{top: 800px;}
}

@keyframes run{
  0%{background-position: 0px;}
  100%{background-position: -1463px;}
}
