@import 'main.css';
* {
    /* overflow-x: hidden; */
}

.h-header {
    padding-top: 5%;
    width: 100%;
    margin-bottom: 10%;
}

body {
    background: var(--primary-color);
}

.line {
    display: block;
    height: 1px;
    width: 100%;
    background: var(--text-color);
}

.l-post {
    background: var(--text-neutro);
}

.nav-bar {
    display: flex;
    width: 100%;
    background: var(--primary-color);
    justify-content: space-between;
}

.container-new-post .new-post,
.new-post img {
    display: flex;
    justify-content: space-around;
}

.container-new-post {
    margin-top: 10px;
}

.btn-post {
    font-size: 1.25rem;
    background: var(--color-green);
    color: var(--text-color);
    padding: 3% 10%;
    border-radius: 25px;
    margin-right: 2.5%;
}

.close {
    width: 32px;
    height: 32px;
    opacity: 0.6;
}

.close:hover {
    opacity: 1;
}


/* wat??? */

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    margin-left: 2.5%;
    width: 2px;
    background-color: white;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.img-selector {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 5% 0;
    display: flex;
    align-items: center;
}

.imgs-select {
    margin: 0 2.5%;
    border-radius: 15px;
    object-fit: cover;
    height: 97px;
    width: 97px;
}

#div-svg {
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12.5px;
}

.other-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new-post img {
    object-fit: cover;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 2%;
}

.word-post {
    border-radius: 10px;
    width: 280px;
    max-width: 290px;
    height: 240px;
    font-size: var(--fs-post);
    color: var(--text-color);
    background: rgba(196, 196, 196, 0.64);
    padding: 5% 0 0 5%;
}

::placeholder {
    color: var(--text-color);
    opacity: 0.5;
}

.keyboard {
    padding-top: 20px;
}