<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>DaiPar Login</title>
</head>

<body>
    <div class="container">
        <img class="imglogo" src="../images/logo-mobile2.png" alt="logo">
        <section class="register">
            <form action="">
                <h1>Ingresar</h1>
                <div class="register-input">

                    <label for="user"><b></b></label>
                    <input type="text" placeholder="Usuario" name="user" id="user" required>

                    <label for="psw"><b></b></label>
                    <input type="password" placeholder="Contraseña" name="psw" id="psw" required>
                </div>

                <button type="submit" class="register-crear-cuenta">Ingresar</button>
            </form>
        </section>

        <div class="dialog-container">
            <p>¿No tienes cuenta?</p>
            <button class="dialog-button" type="submit"> Crear cuenta </button>
        </div>

        <div class="dialog-container">
            <p>¿Olvidaste tu contraseña?</p>
            <button class="dialog-button" type="submit"> Recuperarla </button>
        </div>
    </div>
</body>

</html>