<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>DaiPar Login</title>
</head>

<body>
    <div class="container">
        <img class="imglogo" src="../images/logo-mobile2.png" alt="logo">
        <section class="register">
            <form action="">
                <h1>Ingresar</h1>
                <div class="register-input">

                    <label for="user"><b></b></label>
                    <input type="text" placeholder="Usuario" name="user" id="user" required>

                    <label for="psw"><b></b></label>
                    <input type="password" placeholder="Contraseña" name="psw" id="psw" required>
                </div>
                <h2 class="error-msg">Llene todos los campos</h2>

            </form>
            <button class="register-crear-cuenta">Ingresar</button>
            <a href="" id="olv-contra">¿Olvidaste tu contraseña?</a>
        </section>

        <div class="dialog-container">
            <p>¿No tienes cuenta?</p>
            <a class="dialog-button" href="register.html"> Crear cuenta </a>

        </div>

    </div>
    <script src="../js/login.js"></script>
</body>

</html>